body{
    color:rgb(0, 0, 0);
    background: rgba(43, 156, 237, 0.87);
}

.carreras{
    background-color: rgb(255, 255, 255);
}

.titulo{
    color: rgb(0, 0, 0);
    font-size: 2.5em;
}

.carrera-img{
    height: 200px;
    padding-left: 50px;
}

.contenedor-carrera-img{
    position: absolute;
}

.descripcion-carrera{
    margin: 2% 10% 12% 32%;
    text-align: center;
    font-size: 1.2em;
}

/*.boton-contenido{ 
    background-color: rgb(71, 136, 209);
    text-decoration: none;
    margin: 0%;
    position: absolute;
    align-items: center;
    border-radius: 20px;
    width: 20%;
}*/