body{
    color:rgb(0, 0, 0);
    background: rgba(43, 156, 237, 0.87);
}

.background_carreras{
    background-color: rgb(255, 255, 255);
    margin: 0 60px 0px 60px;
}

.titulo{
    color: rgb(0, 0, 0);
    font-size: 2.5em;
    position: relative;
}

.carrera-img{
    image-rendering: pixelated;
    width:100%;
    height:250px;
}

.contenedor-carrera-img{
    position: relative;
    height: 250px;

}

.descripcion-carrera{
    margin: 2%;
    text-align: justify;
    font-size: 1.2em;
}

/*.boton-contenido{ 
    background-color: rgb(71, 136, 209);
    text-decoration: none;
    margin: 0%;
    position: absolute;
    align-items: center;
    border-radius: 20px;
    width: 20%;
}*/