* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.test {
  color: #fff;
  margin: 20px;
}

.profesiones {
  color: rgb(0, 0, 0);
}

.form-style {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}
